.about-body{
    .about-im{
        text-align: center;
        padding-bottom: 30px;
    }
    p{
        padding: 10px 20px 30px;
    }

    h2, h3{
        margin: 15vh 0 10vh;
        text-align: center;
        position: relative;
    }
    

    li{
        text-align: center;
    }

    ul{
        padding-bottom: 80px;

        p{
            text-align: center;
        }
    }
    ul a{
        text-decoration: none;
        color: black;
        font-size: 1.75em;
        font-weight: bold;
    }
}