.index-banner-image{
    background-image: url(../images/home-banner-image.jpg);
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;   
}


.about-banner-image{
    background-image: url(../images/about-banner.jpg);
    height: 60vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;   
}

.main-trails-banner{
    background-image: url(../images/about-banner.jpg);
    height: 60vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;   
}

.top-hikes-banner{
    background-image: url(../images/about-banner.jpg);
    height: 60vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;   
}