.index-banner-image{
    background-image: url(../images/home-banner-image.jpg);
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;   
}


.about-banner-image{
    background-image: url(../images/about-banner.jpg);
    @include banner-setting; 
}

.main-trails-banner{
    background-image: url(../images/main-trails-banner.jpg);
    @include banner-setting;   
    background-position: center;
}

.top-hikes-banner{
    background-image: url(../images/top-hikes-banner.jpg);
    @include banner-setting;   
  
}