.header{
    background-color: $headerColor;
    padding:20px;

    .header-logo{
        max-width: 250px;
        max-height: 100px;

    }

    a{
        text-decoration: none;
        color: black;
        text-transform: uppercase;
    }

    a:hover{
        color:brown;
        cursor: pointer;
    }
}