.header{
    background-color: $backgroundColor;
    position: static;
    text-align: center;

    li{
         padding: 5px 10px;
    }
    a{
        text-decoration: none;
        color:black;
        text-transform: capitalize;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1.25em;
        padding: 5px;
        border-radius: 5px;
        
        
    }

    a:hover{
        color:rgb(170, 168, 175);
        cursor: pointer;
    }
}


//============  Wider version
.header{
    @media (min-width: 650px){
        display: inline-block;
        width: 100%;
        justify-content: space-around;
        padding-top: 10px;
        img{
            margin-bottom: 10px;
        }
        nav{
            width: 100%;
            margin: 5px 0 15px;
        }
        nav li{
            display: inline-block;

        a:hover{
            color: black;
            background-color:rgb(214, 183, 115);
            cursor: pointer;
            border-radius: 5px;
            }

            a{
                font-size: 1.25em;
                padding: 10px 25px;

    
            }

        }

        
    }
}