.header{
    background-color: $headerColor;

    .header-logo{
        max-width: 250px;
        max-height: 100px;
        margin-left: auto;
        margin-right: auto;

    }

    .header-nav{
        padding:20px;
    }

    a{
        text-decoration: none;
        color: black;
        text-transform: uppercase;
    }

    a:hover{
        color:brown;
        cursor: pointer;
    }
}