#home-banner{
    position: absolute;
    top:0;
    left:0; background-image: url(../images/home-banner-image.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    object-fit: cover;
    

}