h1, 
h2,
h3,
h4,
h5,
h6
{
    font-weight: bold;
    font-family: 'Bree Serif', Serif;
    font-size: 2.5em;
    color: rgb(54, 66, 49);
} 


p,
a,
li,
td,
th{
    font-family: 'Alegreya', Serif;
    font-size: 1em;
    line-height: 1.25em;
} 

